In [52]:
import pandas as pd  #imported pandas

In [53]:
df = pd.read_csv('cleaned.csv')  #imported csv file with help of pandas

C:\Users\DELL\AppData\Local\Temp\ipykernel_9864\1983385382.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('cleaned.csv')  #imported csv file with help of pandas

In [54]:
df.head(10) #using head command to check first 10 rows.Here we see first 2 rows are garbage

,class,neo,q,moid,per,moid_ld,a,n,per_y,ad,H,e,i
0,AMO APO AST ATE CEN HYA IEO IMB MBA MCA OMB TJ...,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous
1,class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MBA,0,2.87566,2.02346,1875.6,0,5.1927,0.171337,5.74962,3.31043,16.8000,0.0714621,0.340765
3,OMB,0,2.73364,0.950139,2025.51,341.74,1.30821,0.210808,3.55237,3.02809,14.1000,0.359982,2.37744
4,MCA,1,2.21239,0.000903847,952.114,557.953,3.21965,0.260115,5.64745,3.69653,16.6000,0.270567,10.0754
5,IMB,0,3.38136,0.642132,2136.5,1581.58,2.27622,0.171363,2.48897,3.41608,15.2000,0.145349,5.04223
6,IEO,1,0.316995,0.260823,151.195,101.504,0.555425,2.38104,0.413948,0.793855,17.2000,0.429275,29.5065
7,TJN,0,2.2019,1.87229,915.399,13886.3,1.90623,0.512882,5.5651,2.91154,20.2220,0.0422878,2.08013
8,IMB,1,1.59682,1.12254,1516.97,659.565,2.50641,0.216671,5.75388,2.09073,17.6000,0.0743335,21.5625
9,AMO,0,2.81969,1.48314,344.629,310.018,3.1065,0.398208,4.22016,2.81411,10.7480,0.14639,4.39547

In [55]:
df = df.iloc[2:]  #Removing first 2 rows to clean dataset further
df.head()

,class,neo,q,moid,per,moid_ld,a,n,per_y,ad,H,e,i
2,MBA,0,2.87566,2.02346,1875.6,0,5.1927,0.171337,5.74962,3.31043,16.8000,0.0714621,0.340765
3,OMB,0,2.73364,0.950139,2025.51,341.74,1.30821,0.210808,3.55237,3.02809,14.1000,0.359982,2.37744
4,MCA,1,2.21239,0.000903847,952.114,557.953,3.21965,0.260115,5.64745,3.69653,16.6000,0.270567,10.0754
5,IMB,0,3.38136,0.642132,2136.5,1581.58,2.27622,0.171363,2.48897,3.41608,15.2000,0.145349,5.04223
6,IEO,1,0.316995,0.260823,151.195,101.504,0.555425,2.38104,0.413948,0.793855,17.2000,0.429275,29.5065

In [56]:
df.describe() #gives an overview of the dataset with aggregated values

,class,neo,q,moid,per,moid_ld,a,n,per_y,ad,H,e,i
count,147962,147962,147962,147962.00000,147962,147962.0,147962,147962,147962,147962,147962.0,147962,147962
unique,13,4,125202,133108.00000,118454,130729.0,113258,119418,126243,125999,12465.0,135902,134750
top,MBA,0,8.82099,1.41516,5085.34,0.0,-7520.98,0.686747,0,3.45582,16.3,1.0004,122.742
freq,40000,67277,216,1308.00000,812,1246.0,223,233,628,829,1402.0,209,229

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147962 entries, 2 to 147963
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   class    147962 non-null  object
 1   neo      147962 non-null  object
 2   q        147962 non-null  object
 3   moid     147962 non-null  object
 4   per      147962 non-null  object
 5   moid_ld  147962 non-null  object
 6   a        147962 non-null  object
 7   n        147962 non-null  object
 8   per_y    147962 non-null  object
 9   ad       147962 non-null  object
 10  H        147962 non-null  object
 11  e        147962 non-null  object
 12  i        147962 non-null  object
dtypes: object(13)
memory usage: 14.7+ MB

In [58]:
df['neo'] = df['neo'].astype(int)
df['q'] = df['q'].astype(float)
df['moid'] = df['moid'].astype(float)
df['per'] =df['per'].astype(float)
df['moid_ld'] =df['moid_ld'].astype(float)
df['a'] =df['a'].astype(float)
df['n'] =df['n'].astype(float)
df['per_y'] =df['per_y'].astype(float)
df['ad'] =df['ad'].astype(float)
df['H'] =df['H'].astype(float)
df['e'] =df['e'].astype(float)
df['i'] =df['i'].astype(float)
#Explictly specifying the dtype of columns

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147962 entries, 2 to 147963
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   class    147962 non-null  object
 1   neo      147962 non-null  int32
 2   q        147962 non-null  float64
 3   moid     147962 non-null  float64
 4   per      147962 non-null  float64
 5   moid_ld  147962 non-null  float64
 6   a        147962 non-null  float64
 7   n        147962 non-null  float64
 8   per_y    147962 non-null  float64
 9   ad       147962 non-null  float64
 10  H        147962 non-null  float64
 11  e        147962 non-null  float64
 12  i        147962 non-null  float64
dtypes: float64(11), int32(1), object(1)
memory usage: 14.1+ MB

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier