In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('cleaned.csv')

C:\Users\DELL\AppData\Local\Temp\ipykernel_9864\115154808.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('cleaned.csv')

In [28]:
df.head()

,class,neo,q,moid,per,moid_ld,a,n,per_y,ad,H,e,i
0,AMO APO AST ATE CEN HYA IEO IMB MBA MCA OMB TJ...,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous
1,class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MBA,0,2.87566,2.02346,1875.6,0,5.1927,0.171337,5.74962,3.31043,16.8000,0.0714621,0.340765
3,OMB,0,2.73364,0.950139,2025.51,341.74,1.30821,0.210808,3.55237,3.02809,14.1000,0.359982,2.37744
4,MCA,1,2.21239,0.000903847,952.114,557.953,3.21965,0.260115,5.64745,3.69653,16.6000,0.270567,10.0754

In [29]:
df = df.iloc[2:]
df.head()

,class,neo,q,moid,per,moid_ld,a,n,per_y,ad,H,e,i
2,MBA,0,2.87566,2.02346,1875.6,0,5.1927,0.171337,5.74962,3.31043,16.8000,0.0714621,0.340765
3,OMB,0,2.73364,0.950139,2025.51,341.74,1.30821,0.210808,3.55237,3.02809,14.1000,0.359982,2.37744
4,MCA,1,2.21239,0.000903847,952.114,557.953,3.21965,0.260115,5.64745,3.69653,16.6000,0.270567,10.0754
5,IMB,0,3.38136,0.642132,2136.5,1581.58,2.27622,0.171363,2.48897,3.41608,15.2000,0.145349,5.04223
6,IEO,1,0.316995,0.260823,151.195,101.504,0.555425,2.38104,0.413948,0.793855,17.2000,0.429275,29.5065

In [30]:
df.describe()

,class,neo,q,moid,per,moid_ld,a,n,per_y,ad,H,e,i
count,147962,147962,147962,147962.00000,147962,147962.0,147962,147962,147962,147962,147962.0,147962,147962
unique,13,4,125202,133108.00000,118454,130729.0,113258,119418,126243,125999,12465.0,135902,134750
top,MBA,0,8.82099,1.41516,5085.34,0.0,-7520.98,0.686747,0,3.45582,16.3,1.0004,122.742
freq,40000,67277,216,1308.00000,812,1246.0,223,233,628,829,1402.0,209,229

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier